<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CNN-Attention-Based-Intrusion-Detection</CNN-A></title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <script type="text/javascript" src="../static/js/index.js"></script>
</head>

<body>
  <div class="container">
    <div class="menu">
      <a href="javascript:change_count(0)">
        <div class="name" style="color: #545454;">
          基于CNN和Attention机制的入侵检测系统
        </div>
      </a>
      <div class="function">
        <a href="javascript:change_count(1)">
          <div>
            <img src="../static/images/数据采集.png" style="width: 20px;height: 20px;">数据采集
          </div>
        </a>
        <a href="javascript:change_count(2)">
          <div>
            <img src="../static/images/数据预处理.png" style="width: 20px;height: 20px;">特征解析和数据预处理
          </div>
        </a>
        <a href="javascript:change_count(3)">
          <div>
            <img src="../static/images/入侵检测.png" style="width: 20px;height: 20px;">入侵检测
          </div>
        </a>
        <a href="javascript:change_count(4)">
          <div>
            <img src="../static/images/入侵管理.png" style="width: 20px;height: 20px;">入侵管理
          </div>
        </a>
      </div>
    </div>
    <div class="structure">
      <div class="users">
        <img src="../static/images/用户.png" style="width: 50px;height: 50px;">
      </div>
      <div class="show">
        <div id="count_0" style="display: block;">
          <div style="display: flex; justify-content: center; align-items: center; width: 100%;height: 600px;">
            <span
              style="font-size: 50px; font-weight: bolder; font-family:'Times New Roman', Courier, monospace;">欢迎使用基于CNN和Attention的入侵检测系统</span>
          </div>
        </div>
        <div id="count_1" style="display: none;">
          <div class="tmp1">
            <div class="function_name">
              <span>数据采集</span>
            </div>
          </div>
          <div class="tmp2">
            <div class="function_content">
              <span style="color: #1a88d7;">主页 <span style="color: #707882;">/ 数据采集</span></span>
            </div>
            <div class="button_1">
              <input type="text" id="inputText" name="inputText" placeholder="请输入抓取网络流量的数目">
            </div>
            <a href="javascript:change_sniff()">
              <div class="button_2">
                <span style="align-items: center;text-align: center;display: flex;">Sniff</span>
              </div>
            </a>
          </div>
          <div class="table_loc" id="pcap_table" style="display: none;">
            <table>
              <tr>
                <th>Src</th>
                <th>Dst</th>
                <th>Src_port</th>
                <th>Dst_port</th>
                <th>Protocol</th>
              </tr>
              {% for i in pcap_list %}
              <tr>
                {% for j in i %}
                <td>{{ j }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
        <div id="count_2" style="display: none;">
          <div class="tmp1">
            <div class="function_name">
              <span>特征解析和数据预处理</span>
            </div>
          </div>
          <div class="tmp2">
            <div class="function_content">
              <span style="color: #1a88d7;">主页 <span style="color: #707882;">/ 特征解析和数据预处理</span></span>
            </div>
            <button style="width: 100px; margin-left: 50px; border-radius: 5px; font-weight: bold;" onclick="upload.click()">上传<input type="file" name="upload"
                id="upload" style="display: none;" /></button>
            <a href="javascript:change_feature()">
              <div class="button_2">
                <span style="align-items: center;text-align: center;display: flex;">特征解析</span>
              </div>
            </a>
            <a href="javascript:change_data_preprocess()">
              <div class="button_2">
                <span style="align-items: center;text-align: center;display: flex;">数据预处理</span>
              </div>
            </a>
          </div>
          <div class="table_loc" id="featute_table" style="display: none;">
            <table>
              <tr>
                {% for i in feature_name %}
                <th>{{ i }}</th>
                {% endfor %}
              </tr>
              {% for i in feature_list %}
              <tr>
                {% for j in i %}
                <td>{{ j }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </table>
          </div>
          <div class="table_loc" id="featute_scaler_table" style="display: none;">
            <table>
              <tr>
                {% for i in feature_name %}
                <th>{{ i }}</th>
                {% endfor %}
              </tr>
              {% for i in feature_scaler_list %}
              <tr>
                {% for j in i %}
                <td>{{ j }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
        <div id="count_3" style="display: none;">
          <div class="tmp1">
            <div class="function_name">
              <span>入侵检测</span>
            </div>
          </div>
          <div class="tmp2">
            <div class="function_content">
              <span style="color: #1a88d7;">主页 <span style="color: #707882;">/ 入侵检测</span></span>
            </div>
            <a href="javascript:change_data_regroup()">
              <div class="button_2">
                <span style="align-items: center;text-align: center;display: flex;">数据重组</span>
              </div>
            </a>
            <a href="javascript:change_predict()">
              <div class="button_2">
                <span style="align-items: center;text-align: center;display: flex;">入侵检测</span>
              </div>
            </a>
          </div>
          <div class="table_loc" id="data_regroup_table" style="display: none;">
            <table>
              <tr>
                {% for i in data_feature %}
                <th>{{ i }}</th>
                {% endfor %}
              </tr>
              {% for i in data_regroup_list %}
              <tr>
                {% for j in i %}
                <td>{{ j }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </table>
          </div>
          <div class="table_loc" id="predict_table" style="display: none;">
            <table>
              <tr>
                {% for i in predict_feature %}
                <th>{{ i }}</th>
                {% endfor %}
              </tr>
              {% for i in result_list %}
              <tr>
                {% if i[0] == "Dos" or i[0] == "Probe" or i[0] == "R2L" or i[0] == "U2R" %}
                {% for j in i %}
                <td style="background-color: #cc3333;">{{ j }}</td>
                {% endfor %}
                {% else %}
                {% for j in i %}
                <td>{{ j }}</td>
                {% endfor %}
                {% endif %}
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
        <div id="count_4" style="display: none;">
          <div class="tmp1">
            <div class="function_name">
              <span>入侵管理</span>
            </div>
          </div>
          <div class="tmp2">
            <div class="function_content">
              <span style="color: #1a88d7;">主页 <span style="color: #707882;">/ 入侵管理</span></span>
            </div>
            <a href="javascript:change_alarm()">
              <div class="button_2">
                <span style="align-items: center;text-align: center;display: flex;">告警管理</span>
              </div>
            </a>
            <a href="javascript:change_system_info()">
              <div class="button_2">
                <span style="align-items: center;text-align: center;display: flex;">系统管理</span>
              </div>
            </a>
          </div>
          <div class="table_loc" id="alarm_table" style="display: none;">
            <table>
              <tr>
                {% for i in predict_feature %}
                <th>{{ i }}</th>
                {% endfor %}
              </tr>
              {% for i in result_list %}
              <tr>
                {% if i[0] == "Dos" or i[0] == "Probe" or i[0] == "R2L" or i[0] == "U2R" %}
                {% for j in i %}
                <td style="background-color: #cc3333;">{{ j }}</td>
                {% endfor %}
                {% endif %}
              </tr>
              {% endfor %}
            </table>
          </div>
          <div id="system_info"
            style="display: none; background-color: #ffffff; width: 80%;height: 550px; margin-top: 20px;">
            <form style="margin-left: 20px; padding-top: 20px;">
              <div class="input_box">
                <p>Administrator Name</p>
                <input type="text" placeholder="Please enter your username">
              </div>
              <div class="input_box">
                <p>Email</p>
                <input type="text" placeholder="Please enter your email address">
              </div>
              <div class="input_box">
                <p>Password</p>
                <input type="password" placeholder="Please enter your password">
              </div>
              <div class="input_box">
                <p>Phone Number</p>
                <input type="text" placeholder="Please enter your phone number">
              </div>
              <div class="input_box">
                <p>Message</p>
                <textarea class="input" rows="3" cols="80" placeholder="Please enter your alarm message"
                  style="margin-top: 10px; margin-bottom: 10px;border: none; outline: none;resize: none;"></textarea>
              </div>
              <div class="input_box">
                <p>Select Country</p>
                <select class="countrylist" name="f2" id="f2" tip="{$lang model=" feedback" tag="goujia_must" /
                  style="margin-top: 10px; margin-bottom: 10px;"">
                  <option selected=" selected" disabled="disabled" value="">Select country</option>
                  <option value="Afghanistan">Afghanistan</option>
                  <option value="Albania">Albania</option>
                  <option value="Algeria">Algeria</option>
                  <option value="Andorra">Andorra</option>
                  <option value="Angola">Angola</option>
                  <option value="Anguilla">Anguilla</option>
                  <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                  <option value="Argentina">Argentina</option>
                  <option value="Armenia">Armenia</option>
                  <option value="Ascension">Ascension</option>
                  <option value="Australia">Australia</option>
                  <option value="Austria">Austria</option>
                  <option value="Azerbaijan">Azerbaijan</option>
                  <option value="Bahamas">Bahamas</option>
                  <option value="Bahrain">Bahrain</option>
                  <option value="Bangladesh">Bangladesh</option>
                  <option value="Barbados">Barbados</option>
                  <option value="Belarus">Belarus</option>
                  <option value="Belgium">Belgium</option>
                  <option value="Belize">Belize</option>
                  <option value="Benin">Benin</option>
                  <option value="Bermuda Is.">Bermuda Is.</option>
                  <option value="Bolivia">Bolivia</option>
                  <option value="Botswana">Botswana</option>
                  <option value="Brazil">Brazil</option>
                  <option value="Brunei">Brunei</option>
                  <option value="Bulgaria">Bulgaria</option>
                  <option value="Burkina-faso">Burkina-faso</option>
                  <option value="Burma">Burma</option>
                  <option value="Burundi">Burundi</option>
                  <option value="Cameroon">Cameroon</option>
                  <option value="Canada">Canada</option>
                  <option value="Cayman Is.">Cayman Is.</option>
                  <option value="Central African Republic">Central African Republic</option>
                  <option value="Chad">Chad</option>
                  <option value="Chile">Chile</option>
                  <option value="China">China</option>
                  <option value="Colombia">Colombia</option>
                  <option value="Congo">Congo</option>
                  <option value="Cook Is.">Cook Is.</option>
                  <option value="Costa Rica">Costa Rica</option>
                  <option value="Croatia">Croatia</option>
                  <option value="Cuba">Cuba</option>
                  <option value="Cyprus">Cyprus</option>
                  <option value="Czech Republic">Czech Republic</option>
                  <option value="Denmark">Denmark</option>
                  <option value="Djibouti">Djibouti</option>
                  <option value="Dominica Rep.">Dominica Rep.</option>
                  <option value="Ecuador">Ecuador</option>
                  <option value="Egypt">Egypt</option>
                  <option value="EI Salvador">EI Salvador</option>
                  <option value="Estonia">Estonia</option>
                  <option value="Ethiopia">Ethiopia</option>
                  <option value="Fiji">Fiji</option>
                  <option value="Finland">Finland</option>
                  <option value="France">France</option>
                  <option value="French Guiana">French Guiana</option>
                  <option value="French Polynesia">French Polynesia</option>
                  <option value="Gabon">Gabon</option>
                  <option value="Gambia">Gambia</option>
                  <option value="Georgia">Georgia</option>
                  <option value="Germany">Germany</option>
                  <option value="Ghana">Ghana</option>
                  <option value="Gibraltar">Gibraltar</option>
                  <option value="Greece">Greece</option>
                  <option value="Grenada">Grenada</option>
                  <option value="Guam">Guam</option>
                  <option value="Guatemala">Guatemala</option>
                  <option value="Guinea">Guinea</option>
                  <option value="Guyana">Guyana</option>
                  <option value="Haiti">Haiti</option>
                  <option value="Honduras">Honduras</option>
                  <option value="Hongkong">Hongkong</option>
                  <option value="Hungary">Hungary</option>
                  <option value="Iceland">Iceland</option>
                  <option value="India">India</option>
                  <option value="Indonesia">Indonesia</option>
                  <option value="Iran">Iran</option>
                  <option value="Iraq">Iraq</option>
                  <option value="Ireland">Ireland</option>
                  <option value="Israel">Israel</option>
                  <option value="Italy">Italy</option>
                  <option value="Ivory Coast">Ivory Coast</option>
                  <option value="Jamaica">Jamaica</option>
                  <option value="Japan">Japan</option>
                  <option value="Jordan">Jordan</option>
                  <option value="Kampuchea (Cambodia)">Kampuchea (Cambodia)</option>
                  <option value="Kazakstan">Kazakstan</option>
                  <option value="Kenya">Kenya</option>
                  <option value="Korea">Korea</option>
                  <option value="Kuwait">Kuwait</option>
                  <option value="Kyrgyzstan">Kyrgyzstan</option>
                  <option value="Laos">Laos</option>
                  <option value="Latvia">Latvia</option>
                  <option value="Lebanon">Lebanon</option>
                  <option value="Lesotho">Lesotho</option>
                  <option value="Liberia">Liberia</option>
                  <option value="Libya">Libya</option>
                  <option value="Liechtenstein">Liechtenstein</option>
                  <option value="Lithuania">Lithuania</option>
                  <option value="Luxembourg">Luxembourg</option>
                  <option value="Macao">Macao</option>
                  <option value="Madagascar">Madagascar</option>
                  <option value="Malawi">Malawi</option>
                  <option value="Malaysia">Malaysia</option>
                  <option value="Maldives">Maldives</option>
                  <option value="Mali">Mali</option>
                  <option value="Malta">Malta</option>
                  <option value="Mariana Is">Mariana Is</option>
                  <option value="Martinique">Martinique</option>
                  <option value="Mauritius">Mauritius</option>
                  <option value="Mexico">Mexico</option>
                  <option value="Moldova, Republic of">Moldova, Republic of</option>
                  <option value="Monaco">Monaco</option>
                  <option value="Mongolia">Mongolia</option>
                  <option value="Montserrat Is">Montserrat Is</option>
                  <option value="Morocco">Morocco</option>
                  <option value="Mozambique">Mozambique</option>
                  <option value="Namibia">Namibia</option>
                  <option value="Nauru">Nauru</option>
                  <option value="Nepal">Nepal</option>
                  <option value="Netheriands Antilles">Netheriands Antilles</option>
                  <option value="Netherlands">Netherlands</option>
                  <option value="New Zealand">New Zealand</option>
                  <option value="Nicaragua">Nicaragua</option>
                  <option value="Niger">Niger</option>
                  <option value="Nigeria">Nigeria</option>
                  <option value="North Korea">North Korea</option>
                  <option value="Norway">Norway</option>
                  <option value="Oman">Oman</option>
                  <option value="Pakistan">Pakistan</option>
                  <option value="Panama">Panama</option>
                  <option value="Papua New Cuinea">Papua New Cuinea</option>
                  <option value="Paraguay">Paraguay</option>
                  <option value="Peru">Peru</option>
                  <option value="Philippines">Philippines</option>
                  <option value="Poland">Poland</option>
                  <option value="Portugal">Portugal</option>
                  <option value="Puerto Rico">Puerto Rico</option>
                  <option value="Qatar">Qatar</option>
                  <option value="Reunion">Reunion</option>
                  <option value="Romania">Romania</option>
                  <option value="Russia">Russia</option>
                  <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                  <option value="Saint Lueia">Saint Lueia</option>
                  <option value="Saint Vincent">Saint Vincent</option>
                  <option value="Samoa Eastern">Samoa Eastern</option>
                  <option value="Samoa Western">Samoa Western</option>
                  <option value="San Marino">San Marino</option>
                  <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                  <option value="Saudi Arabia">Saudi Arabia</option>
                  <option value="Senegal">Senegal</option>
                  <option value="Seychelles">Seychelles</option>
                  <option value="Sierra Leone">Sierra Leone</option>
                  <option value="Singapore">Singapore</option>
                  <option value="Slovakia">Slovakia</option>
                  <option value="Slovenia">Slovenia</option>
                  <option value="Solomon Is">Solomon Is</option>
                  <option value="Somali">Somali</option>
                  <option value="South Africa">South Africa</option>
                  <option value="Spain">Spain</option>
                  <option value="Sri Lanka">Sri Lanka</option>
                  <option value="St.Lucia">St.Lucia</option>
                  <option value="Syria">Syria</option>
                  <option value="Tajikstan">Tajikstan</option>
                  <option value="Tanzania">Tanzania</option>
                  <option value="Thailand">Thailand</option>
                  <option value="Togo">Togo</option>
                  <option value="Tonga">Tonga</option>
                  <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                  <option value="Tunisia">Tunisia</option>
                  <option value="Turkey">Turkey</option>
                  <option value="Turkmenistan">Turkmenistan</option>
                  <option value="Uganda">Uganda</option>
                  <option value="Ukraine">Ukraine</option>
                  <option value="United Arab Emirates">United Arab Emirates</option>
                  <option value="United Kiongdom">United Kiongdom</option>
                  <option value="United States of America">United States of America</option>
                  <option value="Uruguay">Uruguay</option>
                  <option value="Uzbekistan">Uzbekistan</option>
                  <option value="Venezuela">Venezuela</option>
                  <option value="Vietnam">Vietnam</option>
                  <option value="Yemen">Yemen</option>
                  <option value="Yugosl**ia">Yugosl**ia</option>
                  <option value="Zaire">Zaire</option>
                  <option value="Zambia">Zambia</option>
                  <option value="Zimbabwe">Zimbabwe</option>
                </select>
              </div>
              <div>
                <input type="button" value="Update Profiles" id="reg" onclick="update_profile()"
                  style="font-weight: bolder; margin-top: 10px; border-radius: 5px;background-color: #55ce63; width: 100px;height: 35px; color: white;border: none;">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>